<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notes</title>
</head>
<body>
    <div>
        <form action = "/form_submit">

        <select name="topic">
            {% for topics in topic_collection %}
                <option>{{topics}}</option>
            {%endfor%}
        </select>
        <input type="hidden" name="subject" value="{{subject}}">
        <input type="text" name="notes" placeholder="Add your notes..." required>

        <div id = "question_field">
            <input type="text"  name="question" placeholder="Add question 1..." required>
        </div>

        <input type="date" name="date" placeholder="date" required>
        <input type="submit" name="submit">
        </form>
        <button onclick = "add_question_field()"> Add question </button>
    </div>

    <script>
        let count = 2;
        function add_question_field() {
            const container = document.getElementById("question_field");

            const input = document.createElement("input");
            input.type = "text";
            input.name = "question";
            input.placeholder = "add question " + count + "...";
            count+=1;
            container.appendChild(input);
        }
    </script>

</body> 
</html>