<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Today's Notes</title>
</head>
<body>
    <h1>Hello World</h1>
    {% if day_prior_notes %}
        <div>
            <h2>Notes from yesterday</h2>
        {% for note in day_prior_notes %}
            <h3> Subject: {{note["subject"]}}</h3>
            <h3>Topic: {{note["topic"]}}</h3>
            <br>
            <h3>Notes:</h3>
            <p>{{note["notes"]}}</p>
            <br>
        
            <h3>Questions:</h3>
            <ul>
            {% for question in note["question"] %}
                <li>{{question}}</li>
            {%endfor%}
        
            </ul>

            <!-- {%set question_list = []%}

            {%for question in note["question"]%}
                {{ question_list.append(question) }}
            {%endfor%} -->

            <form action = "/todays_notes" >
                <input type="hidden" name="note_id" value="{{note['id']}}">
                <input type = "hidden" name = "user_questions" value = "{{note['question']}}">
                <input type = "submit" name = "generate_questions">
            </form>
            <h3>----------------------------------------------------------------------------------------------------</h3>
        </div>
        {%endfor%}  
    {% endif %}

    {% if week_prior_notes %}
        <div>
            <h2>Notes from a week ago</h2>
        {% for note in week_prior_notes %}
            <h3> Subject: {{note["subject"]}}</h3>
            <h3>Topic: {{note["topic"]}}</h3>
            <br>
            <h3>Notes:</h3>
            <p>{{note["notes"]}}</p>
            <br>
        
            <h3>Questions:</h3>
            <ul>

            {% for question in note["question"] %}
                <li>{{question}}</li>
            {%endfor%}
        
            </ul>
            <h3>----------------------------------------------------------------------------------------------------</h3>
        </div>
        {%endfor%}  
    {% endif %}

    {% if month_prior_notes %}
        <div>
            <h2>Notes from a month ago</h2>
        {% for note in month_prior_notes %}
            <h3> Subject: {{note["subject"]}}</h3>
            <h3>Topic: {{note["topic"]}}</h3>
            <br>
            <h3>Notes:</h3>
            <p>{{note["notes"]}}</p>
            <br>
        
            <h3>Questions:</h3>
            <ul>

            {% for question in note["question"] %}
                <li>{{question}}</li>
            {%endfor%}
        
            </ul>
            <form action = "/todays_notes" >
                <input type="hidden" name="note_id" value="{{id}}">
                <input type = "hidden" name = "user_questions" value = "{{questions}}">
                <input type = "submit" name = "generate_questions">
            </form>
            <h3>----------------------------------------------------------------------------------------------------</h3>
        </div>
        {%endfor%}  
    {% endif %}

    {% if three_month_prior_notes %}
        <div>
            <h2>Notes from three months ago</h2>
        {% for note in three_month_prior_notes %}
            <h3> Subject: {{note["subject"]}}</h3>
            <h3>Topic: {{note["topic"]}}</h3>
            <br>
            <h3>Notes:</h3>
            <p>{{note["notes"]}}</p>
            <br>
        
            <h3>Questions:</h3>
            <ul>

            {% for question in note["question"] %}
                <li>{{question}}</li>
            {%endfor%}
        
            </ul>
            <h3>----------------------------------------------------------------------------------------------------</h3>
        </div>
        {%endfor%}  
    {% endif %}

</body>
</html>